body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.main {
  display: flex;
  height: 100vh;
}

.center {
	background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/1172620/ss_584788d0004933fb10420fe9284515e6f7be577f.1920x1080.jpg?t=1656604686");
	background-size: cover;
	background-position: bottom;
	justify-content: center;
	align-items: center;
}

.menu {
	background-color: rgb(229, 214, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menu div {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(242, 255, 196);
}

.logout {
	margin-top: auto;
}

.main_window {
	background-color: rgb(200, 210, 255);
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main_window > div:first-child {
	display: grid;
	grid-template-columns: 1fr 60px 1fr;
	width: 100%;
	height: 500px;
}

.main_window > div:last-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	height: 100px;
}

.main_window > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.start {
	background-color: rgb(255, 184, 244);
}