.main.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.center {
	background-image: url("https://s1.1zoom.me/b5050/656/413802-alexfas01_1366x768.jpg");
	background-size: cover;
	background-position: bottom;
	justify-content: center;
	align-items: center;
  }

.registration {
	display: flex;
	flex-direction: column;
	background: linear-gradient(249deg, #a9a9a9, #f4f4f4);
	align-items: center;
	width: 300px;
	height: 400px;
	border-radius: 40px;
}

.registration > div:first-child {
	height: 150px;
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 70px;
	color: black;
	overflow: hidden;
	white-space: nowrap;

}

.registration > div:nth-child(3) {
	margin-top: auto;
	height: 100px;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	font-size: 13px;
}

.registration > div:nth-child(3) > a {
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 230px;
}

form > div:first-child {
	display: flex;
	flex-direction: column;
	width: 100%;
}


input {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	height: 30px;
	box-sizing:border-box;

}

input[type="text"], input[type="password"], input[type="password2"] {
	background-color: rgba(0,0,0,0);
	border-bottom: 1px solid rgb(0, 0, 0);
	padding: 0px 0px 0px 5px;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: black;
	color: white;
}

input[type="submit"]:hover {
	cursor: pointer;
}

::placeholder {
	color: rgba(0,0,0,0.4);
}